.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  margin:0px 1px;
  background-color: #ffffff;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.your-element::-webkit-scrollbar {
  display: none;
}